<!-- Modal Header -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h5 class="modal-title"><i class="icon-graduation"></i> &nbsp;Your Session</h5>
</div>
<!-- End Modal Header -->

<!-- Modal Body -->
<div class="modal-body">

  <!-- Time -->
  <div class="media">
    <div class="media-left media-middle">
      <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-xs btn-icon"><i class="icon-alarm"></i></a>
    </div>

    <div class="media-left">
      <h5 class="text-semibold no-margin">
        <%= start_day_time(@timeslot) %>
        <small class="display-block no-margin"><%= start_long_ordinal(@timeslot) %></small>
      </h5>
    </div>
  </div>
  <!-- End Time -->

  <!-- Tutor -->
  <div class="media">
    <div class="media-left media-middle">
      <%= image_tag @timeslot.tutor.image, :class => 'img-circle' %>
    </div>
    <div class="media-body">
      <div class="media-heading text-semibold">
      <%= @timeslot.tutor.name %>
      </div>
      <span class="text-muted">Tutor</span>
    </div>
  </div>
  <!-- End Tutor -->

  <!-- Time -->
  <% if @timeslot.open? %>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-xs btn-icon">
        <i class="icon-people"></i></a>
      </div>

      <div class="media-left">
        <h5 class="text-semibold no-margin">
          Open
          <small class="display-block no-margin">No on has signed up for this time yet!</small>
        </h5>
      </div>
    </div>
  <% end %>
  <!-- End Time -->

  <!-- Student -->
  <% unless @timeslot.open? %>
    <div class="media">
      <div class="media-left media-middle">
        <%= image_tag @timeslot.student.image, :class => 'img-circle' %>
      </div>
      <div class="media-body">
        <div class="media-heading text-semibold">
          <%= @timeslot.student.name %>
        </div>
        <span class="text-muted">Student</span>
      </div>
    </div>
  <% end %>
  <!-- End Student -->

  <!-- Subject -->
  <% if @timeslot.subject %>
  <div class="media">
    <div class="media-left media-middle">
      <a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-xs btn-icon"><i class="icon-book2"></i></a>
    </div>

    <div class="media-left">
      <h5 class="text-semibold no-margin">
        Subject
        <small class="display-block no-margin">@timeslot.subject</small>
      </h5>
    </div>
  </div>
  <% end %>
  <!-- End Subject -->
</div>

<!-- Delete Open Session-->
<% if @timeslot.open? %>
  <div class="modal-footer text-left">
      <form onsubmit="deleteOpenSession(<%= @timeslot.id %>)">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger btn-labeled btn-xs">
          <b><i class="icon-trash"></i></b>
          Cancel your Availability
        </button>
      </form>
    </div>
<% end %>
<!-- /Delete Open Session -->

<!-- Tutor Cancel Session -->
<% unless @timeslot.open? %>
  <div class="modal-footer text-left">
      <button id="tutor-cancel-appointment" class="btn btn-danger btn-labeled btn-xs" onClick="cancelAppointment(<%= @timeslot.id %>)">
        <b><i class="icon-alarm-cancel"></i></b>
        Cancel Appointment
      </button>
  </div>
<% end %>
<!-- /Tutor Cancel Session -->
