<!-- Modal Header -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h5 class="modal-title"><i class="icon-graduation"></i> &nbsp;Your tutoring session</h5>
</div>
<!-- End Modal Header -->

<!-- Modal Body -->
<div class="modal-body">

  <!-- Time -->
  <div class="media">
    <div class="media-left media-middle">
      <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-xs btn-icon"><i class="icon-alarm"></i></a>
    </div>

    <div class="media-left">
      <h5 class="text-semibold no-margin">
        <%= @timeslot.start.strftime("%A at %I:%M%p") %>
        <small class="display-block no-margin"><%= @timeslot.start.to_date.to_formatted_s(:long_ordinal) %></small>
      </h5>
    </div>
  </div>
  <!-- End Time -->

  <!-- Tutor -->
  <div class="media">
    <div class="media-left media-middle">
      <%= image_tag @timeslot.tutor.image, :class => 'img-circle' %>
    </div>
    <div class="media-body">
      <div class="media-heading text-semibold">
      <%= @timeslot.tutor.name %>
      </div>
      <span class="text-muted">Tutor</span>
    </div>
  </div>
  <!-- End Tutor -->

  <!-- Time -->
  <% if @timeslot.open? %>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-xs btn-icon">
        <i class="icon-people"></i></a>
      </div>

      <div class="media-left">
        <h5 class="text-semibold no-margin">
          Open
          <small class="display-block no-margin">No on has signed up for this time yet!</small>
        </h5>
      </div>
    </div>
  <% end %>
  <!-- End Time -->

  <!-- Student -->
  <% unless @timeslot.open? %>
    <div class="media">
      <div class="media-left media-middle">
        <%= image_tag @timeslot.student.image, :class => 'img-circle' %>
      </div>
      <div class="media-body">
        <div class="media-heading text-semibold">
          <%= @timeslot.student.name %>
        </div>
        <span class="text-muted">Student</span>
      </div>
    </div>
  <% end %>
  <!-- End Student -->

</div>




